
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Heading = "Dashboard";
}

<div class="panel panel-default">
    <div class="panel-heading main-color-bg" style="color:white">Website Overview</div>
    <div class="panel-body">
        <p>
            We are here to provide you best and perfect events according to the wishes you demands.
            So, We are here to make your events and gatherings arrangement in a best and memorial way.
        We will do our the best and show you according to your wishes and demands!
        Our work is our passion and our recors are our advertisement, We will hope to satisfy your all demands regarding to the event and management you desire. Your feedback really matters and it tells us to how to make our work and goals further improved manners.

        </p>

        <br />
        <p>
            Our work is our passion and our recors are our advertisement, We will hope to satisfy your all demands regarding to the event and management you desire. Your feedback really matters and it tells us to how to make our work and goals further improved manners.

        </p>
    </div>
</div>



